@model My_Aanchal_NoteBook.Models.User

@{
    ViewData["Title"] = "UpdateUser";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h1>UpdateUser</h1>

<hr />

<div class="container-fluid">


    <div class="row">
        <div class="col-md-10 offset-1">
            <form asp-action="UpdateUser" id="editForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserId" />
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label asp-for="Code" class="control-label"></label>
                            <input asp-for="Code" class="form-control" readonly />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label asp-for="HusbandName" class="control-label"></label>
                            <input asp-for="HusbandName" class="form-control" />
                            <span asp-validation-for="HusbandName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label asp-for="EmailId" class="control-label"></label>
                            <input asp-for="EmailId" class="form-control" />
                            <span asp-validation-for="EmailId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label asp-for="DairyName" class="control-label"></label>
                            <input asp-for="DairyName" class="form-control" />
                            <span asp-validation-for="DairyName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label asp-for="DairyLocation" class="control-label"></label>
                            <input asp-for="DairyLocation" class="form-control" />
                            <span asp-validation-for="DairyLocation" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label asp-for="SachiveName" class="control-label"></label>
                            <input asp-for="SachiveName" class="form-control" />
                            <span asp-validation-for="SachiveName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="form-group d-grid">
                            <input type="submit" value="Save" onclick="EditUserAlert(event);" class="btn btn-primary btn-block" />
                        </div>
                    </div>
                    <div class="col-md-6 d-grid">
                        <div>
                            <a asp-action="UserProfileSection" class="btn btn-secondary btn-block"><i class="bi bi-skip-backward-fill"></i> Back to List</a>
                        </div>
                    </div>
                </div>









                @* <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
                </div>
                <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                <label asp-for="Otp" class="control-label"></label>
                <input asp-for="Otp" class="form-control" />
                <span asp-validation-for="Otp" class="text-danger"></span>
                </div>
                <div class="form-group">
                <label asp-for="OtpCreatedOn" class="control-label"></label>
                <input asp-for="OtpCreatedOn" class="form-control" />
                <span asp-validation-for="OtpCreatedOn" class="text-danger"></span>
                </div>
                <div class="form-group">
                <label asp-for="OtpEndsOn" class="control-label"></label>
                <input asp-for="OtpEndsOn" class="form-control" />
                <span asp-validation-for="OtpEndsOn" class="text-danger"></span>
                </div> *@

            </form>
        </div>
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">

    function EditUserAlert(event) {
        // Prevent form submission
        event.preventDefault();

        // Show SweetAlert
        Swal.fire({
            title: "Good job!",
            text: "Updated successfully!",
            icon: "success"
        }).then((result) => {
            // If confirmed, submit the form
            if (result) {
                document.getElementById("editForm").submit();
            }
        });
    }
</script>